html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

* {
    box-sizing: border-box;
}

#Game_Container {
    
}

.Game_Container_Top {

    padding: 8px;
    background: blue;
}
.Game_Container_Main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Game_Current_Display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border: 2px solid black;
}

.Game_Buttons {
    padding: 8px;
}

.Game_Stats_Container {
    display: flex;
}


.Game_Stats {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 8px;
    border: 2px black solid;
}


.Game_Comments {
    display: flex;
    align-items: center;
}